<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <nav>
        <div class="header">
            <!-- Left: Plant logo -->
            <div class="left">
                <img src="Image/ultratech.jpg" alt="Plant Logo" class="logo">
            </div>

            <!-- Center: Title -->
            <div class="title">
                <p class="para1" style="color:red"> UTCL Cement Works </P>
                <p class="para2"> UTCL Cement Works </P>

            </div>

            <!-- Right: Company logo -->
            <div class=" right">
                <img src="Image/indexel.jpg" alt="Company Logo" class="logo">
            </div>
        </div>
        <hr>
        <div id="Homesection" class="Home">
            <a class="logo1" href="/"> 🏠Home </a>
            <p> </p>

        </div>
    </nav>
</body>
</html>