<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail</title>
</head>
<link rel="stylesheet" href="css/style.css">

<body>
    {{>Header}}
    <div class="title">

        <p>Detailed report</p>
    </div>
    <div class="data">
        <!-- <time datetime="">Enter time</time> -->
        <div class="Box1">
            <Label>From Date</Label>
            <input type="date" name="From_date">
            <input type="time" name="time">
        </div>
        <div class="Box1">
            <label for="">To Date</label>
            <input type="Date" name="to_date">
            <input type="time" name="time">
        </div>
        <div class="Box1  sectionbox">
            <label for="section">Select section</label>
            <select id="section" name="section" multiple size="2" onchange="displaySelectedSections()">
                <option value="select_section" id="All">All</option>
                <option value="CCR" id="CCR">CCR</option>
                <option value="PP" id="PP">PP</option>
                <option value="RP" id="RP">RP</option>
                {{!-- <option value="scada" id="scada">SCADA Room</option>
                <option value="control" id="control">Control Room</option> --}}
            </select>
        </div>
        <div id="content" class="Box1">
            <p>For Multiple meter selection use CTRL+section</p>
            <div class="content1">


            </div>


        </div>
        <div class="find_btn  Box1">
            <input type="button" value="Fetch">
        </div>
    </div>
    <hr>

    <!-- to show the entries from the Sql   -->

    <div class="below_section">
        <div class="firstlayer">

            <div class="Show"><label>Show</label>
                <select name="show" id="show">
                    <option value="1">1</option>
                    <option value="50">50</option>
                </select>
            </div>
            <div class="Search">
                <label for="Search">Search:</label>
                <input type="Search">
            </div>
        </div>
        <hr>

        <div class="table">
            <div class=""> <label for="">Date Time</label></div>
            <hr>
            <div class="table_data" id="tableshow">
                <p>No data availbe with the </p>
                <div class="meter1" id="meterData"></div>
            </div>
            <hr>
            <div class=""><label for="">Date Time</label></div>
        </div>
    </div>
    {{>Footer}}
</body>

</html>