<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hourly report</title>
</head>
<link rel="stylesheet" href="css/style.css">

<body>
    {{>Header}}
    <div class="title">

        <p>Hourly-report</p>
    </div>
    <div class="data">
        <!-- <time datetime="">Enter time</time> -->
        <div class="Box1">
            <Label>From Date</Label>
            <input type="date"  name="Fromdate" id="startdate">
            {{!-- <input type="time" name="time" id="starttime"> --}}

        </div>
        <div class="Box1">
            <label>To Date</label>
            <input type="Date" name="todate" id="todate">
            {{!-- <input type="time" name="time" id="time"> --}}
        </div>
        <div class="Box1">
            <label for="section">Select section</label>
            <select id="section" name="section" >
                <option value="select_section" id="All">All</option>
                <option value="CCR" id="CCR">CCR</option>
                <option value="PP" id="PP">PP</option>
                <option value="RP" id="RP">RP</option>
                {{!-- <option value="scada" id="scada">SCADA Room</option>
                <option value="control" id="control">Control Room</option> --}}
            </select>
        </div>
        <div id="content" class="Box1">
            <p>For Multiple meter selection use CTRL+section</p>
                <div class="content1">

               
                </div>

        </div>
        <div class="find_btn  Box1">
            <input type="button" value="Fetch" id="fetchBtn">
        </div>
    </div>
    <hr>

    <!-- to show the entries from the Sql   -->

    <div class="below_section">
        <div class="firstlayer">

            <div class="Show"><label>Show</label>
                <select name="show" id="show">
                    <option value="1">10</option>
                    <option value="50">50</option>
                    <option value="50">100</option>

                </select>
            </div>
            <div class="Search">
                <label for="Search">Search:</label>
                <input type="Search">
            </div>
        </div>
        <hr>


        <div class="meter1" id="meterData">
            <table style="width: 50%;" border="1">
                <thead>
                    <tr>
                        <th style="width: 50%;">Date</th>
                        <th>Element</th>
                        <th>KWH</th>
                    </tr>
                </thead>
                <tbody id="meterTableBody">
                    <tr>
                        <td colspan="3">No data yet</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{>Footer}}
</body>

</html>
<script src="js/index.js"></script>